{{#each skills as |skills key|}}
	<div class="items">
        <div class='items-header'>
            <h4 class='item-name'>{{key}} {{localize "ARIANRHOD.Skills"}}</h4>
            <a class='item-control item-create'
               title='{{localize "DOCUMENT.Create" type='Skill'}}'
               data-type='skill'
               data-class={{key}}
            ><i class='fas fa-plus'></i></a>
        </div>
        <ol class='items-list'>
            {{#each skills as |item id|}}
                <li class='item flexrow' data-item-id='{{item._id}}'>
                    <div class="item-header">
                        <a class='rollable' data-roll-type='item'><img
                                src='{{item.img}}'
                                title='{{item.name}}'
                        /></a>
                        <span class="item-level">
                            {{#if item.system.attributes.currentSL.value}}
                                Lv.{{item.system.attributes.currentSL.value}}
                            {{else}}
                                Lv.0
                            {{/if}}
                        </span>
                        <h4 class="item-title">{{item.name}}</h4>
                        <a
                                class='item-control item-edit'
                                title='{{localize "DOCUMENT.Edit" type='spell'}}'
                        >
                            <i class='fas fa-edit'></i>
                        </a>
                        <a class='item-control item-delete'
                           title='{{localize "DOCUMENT.Delete" type='spell'}}'
                        >
                            <i class='fas fa-trash'></i>
                        </a>
                    </div>
                    <div class="item-content">
                        {{#each item.system.attributes as |attr key|}}
                            {{#if attr.value}}{{#unless attr.isSL}}
                                <span class="item-attr">{{attr.label}} : {{attr.value}}</span>
                            {{/unless}}{{/if}}
                        {{/each}}
                    </div>
                </li>
            {{/each}}
        </ol>
	</div>
{{/each}}
